---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":[],"pricing":{"currency":"pollen","promptTextTokens":"0.00000015","promptCachedTokens":"0.00000004","completionTextTokens":"0.0000006"},"description":"OpenAI GPT-5 Mini - Fast & Balanced","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"openai-fast","aliases":["gpt-5-nano","gpt-5-nano-2025-08-07"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000006","promptCachedTokens":"0.00000001","completionTextTokens":"0.00000044"},"description":"OpenAI GPT-5 Nano - Ultra Fast & Affordable","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"qwen-coder","aliases":["qwen3-coder","qwen3-coder-30b-a3b-instruct"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000006","completionTextTokens":"0.00000022"},"description":"Qwen3 Coder 30B - Specialized for Code Generation","input_modalities":["text"],"output_modalities":["text"],"tools":true,"context_length":262144,"is_specialized":false},{"name":"mistral","aliases":["mistral-small","mistral-small-3.2","mistral-small-3.2-24b-instruct-2506"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000001","completionTextTokens":"0.0000003"},"description":"Mistral Small 3.2 24B - Efficient & Cost-Effective","input_modalities":["text"],"output_modalities":["text"],"tools":true,"context_length":131072,"is_specialized":false},{"name":"openai-audio","aliases":["gpt-4o-mini-audio-preview","gpt-4o-mini-audio-preview-2024-12-17"],"pricing":{"currency":"pollen","promptTextTokens":"0.000000165","completionTextTokens":"0.00000066","promptAudioTokens":"0.000011","completionAudioTokens":"0.000022"},"description":"OpenAI GPT-4o Mini Audio - Voice Input & Output","input_modalities":["text","image","audio"],"output_modalities":["audio","text"],"tools":true,"context_length":128000,"voices":["alloy","echo","fable","onyx","nova","shimmer","coral","verse","ballad","ash","sage","amuch","dan"],"is_specialized":false},{"name":"gemini-fast","aliases":["gemini-2.5-flash-lite"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000001","promptCachedTokens":"0.00000001","promptAudioTokens":"0.0000001","completionTextTokens":"0.0000004"},"description":"Google Gemini 2.5 Flash Lite - Ultra Fast & Cost-Effective","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":1048576,"is_specialized":false},{"name":"deepseek","aliases":["deepseek-v3","deepseek-reasoning"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000056","promptCachedTokens":"0.00000028","completionTextTokens":"0.00000168"},"description":"DeepSeek V3.2 - Efficient Reasoning & Agentic AI","input_modalities":["text"],"output_modalities":["text"],"tools":true,"reasoning":true,"context_length":163840,"is_specialized":false},{"name":"gemini-search","aliases":["gemini-2.5-flash-search","gemini-2.5-flash-lite-search"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000001","promptCachedTokens":"0.00000001","promptAudioTokens":"0.0000001","completionTextTokens":"0.0000004"},"description":"Google Gemini 2.5 Flash Lite - With Google Search","input_modalities":["text","image"],"output_modalities":["text"],"tools":false,"context_length":1048576,"is_specialized":fal[...]
