---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: '[{"name":"kontext","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":"0.04"},"description":"FLUX.1 Kontext - In-context editing & generation","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gptimage","aliases":["gpt-image","gpt-image-1-mini"],"pricing":{"currency":"pollen","promptTextTokens":"0.000002","promptCachedTokens":"0.0000002","promptImageTokens":"0.0000025","completionImageTokens":"0.000008"},"description":"GPT Image 1 Mini - OpenAI''s image generation model","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gptimage-large","aliases":["gpt-image-1.5","gpt-image-large"],"pricing":{"currency":"pollen","promptTextTokens":"0.000005","promptCachedTokens":"0.00000125","promptImageTokens":"0.000008","completionTextTokens":"0.00001","completionImageTokens":"0.000032"},"description":"GPT Image 1.5 - OpenAI''s advanced image generation model","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gpt-image-2","aliases":[],"pricing":{"currency":"pollen","promptTextTokens":"0.000005","promptCachedTokens":"0.00000125","promptImageTokens":"0.000008","completionImageTokens":"0.00003"},"description":"GPT Image 2 - OpenAI''s next-gen image generation model","input_modalities":["text","image"],"output_m[...]
    - id: 1
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":["gpt-5.4-nano","gpt-5-mini"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000002","promptCachedTokens":"0.00000002","completionTextTokens":"0.00000125"},"description":"GPT-5.4 Nano - Fast & Balanced","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"openai-fast","aliases":["gpt-5-nano","gpt-5-nano-2025-08-07"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000005","promptCachedTokens":"0.000000005","completionTextTokens":"0.0000004"},"description":"GPT-5 Nano - Ultra Fast & Affordable","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"openai-large","aliases":["gpt-5.4","gpt-5.4-reasoning","gpt-5.2","openai-reasoning","gpt-5.2-reasoning"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000025","promptCachedTokens":"0.00000025","completionTextTokens":"0.000015"},"description":"GPT-5.4 - Most Powerful & Intelligent","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"reasoning":true,"context_length":400000,"is_specialized":false},{"name":"qwen-coder","aliases":["qwen3-coder","qwen3-coder-30b-a3b-instruct"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000006","completionTextTokens":"0.00000022"},"description":"Qwen3 Coder 30B - Specialized for Code Generation","input_modalities":["text"],"output_modalities":["text"],"tools":true,"context_length":262144,"is_specialized":false},{"name":"mistral","aliases":["mistral-small","mistral-small-3.2","mistral-small-3.2-24b-instruct-2506"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000001","completionTextTokens":"0.0000003"},"description":"Mistral Small 3.2 - Efficient & Cost-Effective","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":131072,"is_specialized":false},{"name":"openai-audio","aliases":["gpt-audio-mini","gpt-audio-mini-2025-12-15","gpt-4o-mini-audio-preview","gpt-4o-mini-audio-preview-2024-12-17"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000006","completionTextTokens":"0.0000024","promptAudioTokens":"0.00001","completionAudioTokens":"0.00002"},"description":"GPT Audio Mini - Voice Input & Output","input_modalities":["text","image","audio"],"output_modalities":["audio","text"],"tools":true,"context_length":128000,"voices":["alloy","echo","fable","onyx","nova","shimmer","coral","verse","ballad","ash","sage","amuch","dan"],"is_specialized":false},{"name":"openai-audio-large","aliases":["gpt-audio","gpt-audio-1.5","gpt-audio-2025-12-15"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000025","completionTextTokens":"0.00001","promptAudioTokens":"0.00004","completionAudioTokens":"0.00008"},"description":"GPT Audio 1.5 - Premium Voice Input & Output","input_modalities":["text","image","audio"],"output_modalities[...]
