---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/image/models
            Speculation-Rules:
                - '"/cdn-cgi/speculation"'
        status: 308 Permanent Redirect
        code: 308
        duration: 456ms
    - id: 1
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/image/models
        method: GET
      response:
        body: '[{"name":"kontext","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":"0.04"},"description":"FLUX.1 Kontext - In-context editing & generation","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gptimage","aliases":["gpt-image","gpt-image-1-mini"],"pricing":{"currency":"pollen","promptTextTokens":"0.000002","promptCachedTokens":"0.0000002","promptImageTokens":"0.0000025","completionImageTokens":"0.000008"},"description":"GPT Image 1 Mini - Fast & affordable image generation","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gptimage-large","aliases":["gpt-image-1.5","gpt-image-large"],"pricing":{"currency":"pollen","promptTextTokens":"0.000005","promptCachedTokens":"0.00000125","promptImageTokens":"0.000008","completionTextTokens":"0.00001","completionImageTokens":"0.000032"},"description":"GPT Image 1.5 - High-fidelity image generation & editing","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"flux","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":"0.001"},"description":"Flux Schnell - Fast high-quality image generation","input_modalities":["text"],"output_modalities":["image"]},{"name":"zimage","aliases":["z-image","z-image-turbo"],"pricing":{"currency":"pollen","completion[...]
    - id: 2
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/text/models
            Speculation-Rules:
                - '"/cdn-cgi/speculation"'
        status: 308 Permanent Redirect
        code: 308
        duration: 32ms
    - id: 3
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":["gpt-5.4-nano"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000002","promptCachedTokens":"0.00000002","completionTextTokens":"0.00000125"},"description":"GPT-5.4 Nano - Fast & Balanced","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"openai-fast","aliases":["gpt-5-nano","gpt-5-nano-2025-08-07"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000005","promptCachedTokens":"0.000000005","completionTextTokens":"0.0000004"},"description":"GPT-5 Nano - Ultra Fast & Affordable","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"openai-large","aliases":["gpt-5.4","gpt-5.4-reasoning","gpt-5.2","openai-reasoning","gpt-5.2-reasoning"],"pricing":{"currency":"pollen","promptTextTokens":"0.0000025","promptCachedTokens":"0.00000025","completionTextTokens":"0.000015"},"description":"GPT-5.4 - Most Powerful & Intelligent","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"reasoning":true,"context_length":400000,"is_specialized":false},{"name":"gpt-5.4-mini","aliases":["gpt-5-mini","openai-mini"],"pricing":{"currency":"pollen","promptTextTokens":"0.00000075","promptCachedTokens":"0.000000075","completionTextTokens":"0.0000045"},"description":"GPT-5.4 Mini - Balanced Speed & Cost","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"context_length":400000,"is_specialized":false},{"name":"gpt-5.5","aliases":["gpt-5.5-reasoning"],"pricing":{"currency":[...]
