---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: '[{"name":"kontext","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":0.04},"description":"FLUX.1 Kontext - In-context editing & generation","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"nanobanana","aliases":[],"pricing":{"currency":"pollen","promptTextTokens":3e-7,"promptImageTokens":3e-7,"completionImageTokens":0.00003},"description":"NanoBanana - Gemini 2.5 Flash Image","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"nanobanana-pro","aliases":[],"pricing":{"currency":"pollen","promptTextTokens":0.00000125,"promptImageTokens":0.00000125,"completionImageTokens":0.00012},"description":"NanoBanana Pro - Gemini 3 Pro Image (4K, Thinking)","input_modalities":["text","image"],"output_modalities":["image"],"paid_only":true},{"name":"seedream","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":0.03},"description":"Seedream 4.0 - ByteDance ARK (better quality)","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"seedream-pro","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":0.04},"description":"Seedream 4.5 Pro - ByteDance ARK (4K, Multi-Image)","input_modalities":["text","image"],"output_modalities":["image"],"paid_only":true},{"name":"gptimage","aliases":["gpt-image","gpt-image-1-mini"],"pricing":{"currency":"pollen","promptTextTokens":0.000002,"promptCachedTokens":2.0000000000000002e-7,"promptImageTokens":0.0000025,"completionImageTokens":0.000008},"description":"GPT Image 1 Mini - OpenAI''s image generation model","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"gptimage-large","aliases":["gpt-image-1.5","gpt-image-large"],"pricing":{"currency":"pollen","promptTextTokens":0.000008,"promptCachedTokens":0.000002,"promptImageTokens":0.000008,"completionImageTokens":0.000032},"description":"GPT Image 1.5 - OpenAI''s advanced image generation model","input_modalities":["text","image"],"output_modalities":["image"],"paid_only":true},{"name":"flux","aliases":[],"pricing":{"currency":"pollen","completionImageTokens":0.0002},"description":"Flux Schnell - Fast high-quality image generation","input_modalities":["text"],"output_modalities":["image"]},{"name":"zimage","aliases":["z-image","z-image-turbo"],"pricing":{"currency":"pollen","completionImageTokens":0.0002},"description":"Z-Image Turbo - Fast 6B Flux with 2x upscaling","input_modalities":["text"],"output_modalities":["image"]},{"name":"veo","aliases":["veo-3.1-fast","video"],"pricing":{"currency":"pollen","completionVideoSeconds":0.15},"description":"Veo 3.1 Fast - Google''s video generation model (preview)","input_modalities":["text","image"],"output_modalities":["video"],"paid_only":true},{"name":"seedance","aliases":[],"pricing":{"currency":"pollen","completionVideoTokens":0.0000018000000000000001},"description":"Seedance Lite - BytePlus video generation (better quality)","input_modalities":["text","image"],"output_modalities":["video"]},{"name":"seedance-pro","aliases":[],"pricing":{"currency":"pollen","completionVideoTokens":0.000001},"description":"Seedance Pro-Fast - BytePlus video generation (better prompt adherence)","input_modalities":["text","image"],"output_modalities":["video"]},{"name":"wan","aliases":["wan2.6","wan-i2v"],"pricing":{"currency":"pollen","completionVideoSeconds":0.025,"completionAudioSeconds":0.025},"description":"Wan 2.6 - Alibaba image-to-video with audio (2-15s, up to 1080P)","input_modalities":["text","image"],"output_modalities":["video"]},{"name":"klein","aliases":["flux-klein"],"pricing":{"currency":"pollen","completionImageTokens":0.008},"description":"FLUX.2 Klein 4B - Fast image generation & editing on Modal","input_modalities":["text","image"],"output_modalities":["image"]},{"name":"klein-large","aliases":["flux-klein-9b","klein-9b"],"pricing":{"currency":"pollen","completionImageTokens":0.012},"description":"FLUX.2 Klein 9B - Higher quality image generation & editing on Modal","input_modalities":["text","image"],"output_modalities":["image"]}]'
        headers:
            Content-Type:
                - application/json
            Speculation-Rules:
                - '"/cdn-cgi/speculation"'
        status: 200 OK
        code: 200
        duration: 178ms
    - id: 1
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":[],"pricing":{"currency":"pollen","promptTextTokens":1.5e-7,"promptCachedTokens":4e-8,"completionTextTokens":6e-7},"description":"OpenAI GPT-5 Mini - Fast & Balanced","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"is_specialized":false},{"name":"openai-fast","aliases":["gpt-5-nano","gpt-5-nano-2025-08-07"],"pricing":{"currency":"pollen","promptTextTokens":6e-8,"promptCachedTokens":1e-8,"completionTextTokens":4.4e-7},"description":"OpenAI GPT-5 Nano - Ultra Fast & Affordable","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"is_specialized":false},{"name":"openai-large","aliases":["gpt-5.2","openai-reasoning","gpt-5.2-reasoning"],"pricing":{"currency":"pollen","promptTextTokens":0.00000175,"promptCachedTokens":1.75e-7,"completionTextTokens":0.000014},"description":"OpenAI GPT-5.2 - Most Powerful & Intelligent","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"reasoning":true,"is_specialized":false},{"name":"qwen-coder","aliases":["qwen3-coder","qwen3-coder-30b-a3b-instruct"],"pricing":{"currency":"pollen","promptTextTokens":6e-8,"completionTextTokens":2.2e-7},"description":"Qwen3 Coder 30B - Specialized for Code Generation","input_modalities":["text"],"output_modalities":["text"],"tools":true,"is_specialized":false},{"name":"mistral","aliases":["mistral-small","mistral-small-3.2","mistral-small-3.2-24b-instruct-2506"],"pricing":{"currency":"pollen","promptTextTokens":1.5e-7,"completionTextTokens":3.5e-7},"description":"Mistral Small 3.2 24B - Efficient & Cost-Effective","input_modalities":["text"],"output_modalities":["text"],"tools":true,"is_specialized":false},{"name":"openai-audio","aliases":["gpt-4o-mini-audio-preview","gpt-4o-mini-audio-preview-2024-12-17"],"pricing":{"currency":"pollen","promptTextTokens":1.65e-7,"completionTextTokens":6.6e-7,"promptAudioTokens":0.000011,"completionAudioTokens":0.000022},"description":"OpenAI GPT-4o Mini Audio - Voice Input & Output","input_modalities":["text","image","audio"],"output_modalities":["audio","text"],"tools":true,"voices":["alloy","echo","fable","onyx","nova","shimmer","coral","verse","ballad","ash","sage","amuch","dan"],"is_specialized":false},{"name":"gemini","aliases":["gemini-3-flash","gemini-3-flash-preview"],"pricing":{"currency":"pollen","promptTextTokens":5e-7,"promptCachedTokens":5.0000000000000004e-8,"promptAudioTokens":5e-7,"completionTextTokens":0.000003},"description":"Google Gemini 3 Flash - Pro-Grade Reasoning at Flash Speed","input_modalities":["text","image","audio","video"],"output_modalities":[[...]
