---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/image/models
        status: 308 Permanent Redirect
        code: 308
        duration: 127ms
    - id: 1
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/image/models
        method: GET
      response:
        body: '[{"name":"kontext","aliases":[],"category":"image","brand":"Black Forest Labs","pricing":{"currency":"pollen","completionImageTokens":"0.04"},"title":"FLUX.1 Kontext","description":"FLUX.1 Kontext - In-context editing & generation","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":1,"capabilities":[],"added_date":1759795200000},{"name":"gptimage","aliases":["gpt-image","gpt-image-1-mini"],"category":"image","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.0000015","promptCachedTokens":"0.00000015","promptImageTokens":"0.000001875","completionImageTokens":"0.000006"},"title":"GPT Image 1 Mini","description":"GPT Image 1 Mini - Fast & affordable image generation","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":16,"capabilities":[],"added_date":1760054400000},{"name":"gptimage-large","aliases":["gpt-image-1.5","gpt-image-large"],"category":"image","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.000005","promptCachedTokens":"0.00000125","promptImageTokens":"0.000008","completionTextTokens":"0.00001","completionImageTokens":"0.000032"},"title":"GPT Image 1.5","description":"GPT Image 1.5 - High-fidelity image generation & editing","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":16,"capabilities":[],"added_date":1766448000000},{"name":"flux","aliases":[],"category":"image","brand":"Black Forest Labs","pricing":{"currency":"pollen","completionImageTokens":"0.00175"},"title":"Flux Schnell","description":"Flux Schnell - Fast high-quality image generation (Fireworks)","input_modalities":["text"],"output_modalities":["image"],"capabilities":[],"added_date":1759795200000},{"name":"zimage","aliases":["z-image","z-image-turbo"],"category":"image","brand":"Alibaba","pricing":{"currency":"pollen","completionImageTokens":"0.002"},"title":"Z-Image Turbo","description":"Z-Image Turbo - Alibaba S3-DiT 6B with 2x SPAN upscaling","input_modalities":["text"],"output_modalities":["image"],"capabilities":[],"added_date":1765152000000},{"name":"klein","aliases":["flux-klein"],"category":"image","brand":"Black Forest Labs","pricing":{"currency":"pollen","completionImageTokens":"0.01"},"title":"FLUX.2 Klein 4B","description":"FLUX.2 Klein 4B - Fast image generation and editing","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":10,"capabilities":[],"alpha":true,"added_date":1768608000000},{"name":"ltx-2","aliases":["ltx2","ltx-2.3","ltxvideo","ltx-video"],"category":"video","brand":"Lightricks","pricing":{"currency":"pollen","completionVideoSeconds":"0.005"},"title":"LTX-2.3","description":"LTX-2.3 - Fast text/image-to-video generation with upscaler","input_modalities":["text","image"],"output_modalities":["video"],"video_capabilities":["start_frame"],"max_reference_images":1,"capabilities":[],"alpha":true,"added_date":1770336000000},{"name":"nova-canvas","aliases":["amazon-nova-canvas"],"category":"image","brand":"Amazon","pricing":{"currency":"pollen","completionImageTokens":"0.04"},"title":"Nova Canvas","description":"Nova Canvas - Image generation, editing & inpainting","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":1,"capabilities":[],"added_date":1774224000000},{"name":"nova-reel","aliases":["amazon-nova-reel"],"category":"video","brand":"Amazon","pricing":{"currency":"pollen","completionVideoSeconds":"0.08"},"title":"Nova Reel","description":"Nova Reel - Video Generation (6-120s, 720p)","input_modalities":["text","image"],"output_modalities":["video"],"video_capabilities":["start_frame"],"max_reference_images":1,"capabilities":[],"added_date":1774224000000}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 597ms
    - id: 2
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/text/models
        status: 308 Permanent Redirect
        code: 308
        duration: 35ms
    - id: 3
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":["gpt-5.4-nano"],"category":"text","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.00000015","promptCachedTokens":"0.000000015","completionTextTokens":"0.0000009375"},"title":"GPT-5.4 Nano","description":"GPT-5.4 Nano - Fast & Balanced","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":10,"capabilities":["tool_calling"],"tools":true,"context_length":400000,"is_specialized":false,"added_date":1759795200000},{"name":"openai-fast","aliases":["gpt-5-nano","gpt-5-nano-2025-08-07"],"category":"text","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.0000000375","promptCachedTokens":"0.00000000375","completionTextTokens":"0.0000003"},"title":"GPT-5 Nano","description":"GPT-5 Nano - Ultra Fast & Affordable","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":10,"capabilities":["tool_calling"],"tools":true,"context_length":400000,"is_specialized":false,"added_date":1759795200000},{"name":"openai-large","aliases":["gpt-5.4","gpt-5.4-reasoning","gpt-5.2","openai-reasoning","gpt-5.2-reasoning"],"category":"text","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.0000025","promptCachedTokens":"0.00000025","completionTextTokens":"0.000015"},"title":"GPT-5.4","description":"GPT-5.4 - Most Powerful & Intelligent","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":10,"capabilities":["tool_calling","reasoning"],"tools":true,"reasoning":true,"context_length":1050000,"is_specialized":false,"added_date":1759795200000},{"name":"gpt-5.4-mini","aliases":["gpt-5-mini","openai-mini"],"category":"text","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.0000005625","promptCachedTokens":"0.00000005625","completionTextTokens":"0.000003375"},"title":"GPT-5.4 Mini","description":"GPT-5.4 Mini - Balanced Speed & Cost","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":10,"capabilities":[...]
