---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/image/models
        status: 308 Permanent Redirect
        code: 308
        duration: 44ms
    - id: 1
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/image/models
        method: GET
      response:
        body: '[{"name":"zimage","aliases":["z-image","z-image-turbo"],"category":"image","brand":"Alibaba","pricing":{"currency":"pollen","completionImageTokens":"0.004"},"title":"Z-Image Turbo","description":"Instant, budget-friendly images with crisp upscaled output","input_modalities":["text"],"output_modalities":["image"],"capabilities":[],"flat_rate":true,"added_date":1765152000000},{"name":"dreamshaper","aliases":["sana"],"category":"image","brand":"Lykon","pricing":{"currency":"pollen","completionImageTokens":"0.0001"},"title":"DreamShaper 8 LCM","description":"Near-instant images at rock-bottom cost; simpler detail than premium models","input_modalities":["text"],"output_modalities":["image"],"capabilities":[],"flat_rate":true,"added_date":1785369600000},{"name":"gpt-image-2","aliases":[],"category":"image","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.00000375","promptCachedTokens":"0.0000009375","promptImageTokens":"0.000006","completionImageTokens":"0.0000225"},"title":"GPT Image 2","description":"Premium high-resolution images with excellent prompt following","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":16,"capabilities":[],"paid_only":false,"flat_rate":false,"added_date":1776816000000},{"name":"nova-canvas","aliases":["amazon-nova-canvas"],"category":"image","brand":"Amazon","pricing":{"currency":"pollen","completionImageTokens":"0.04"},"title":"Nova Canvas","description":"Image generation with editing and inpainting tools","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":1,"capabilities":[],"flat_rate":true,"added_date":1774224000000},{"name":"klein","aliases":["flux-klein"],"category":"image","brand":"Black Forest Labs","pricing":{"currency":"pollen","completionImageTokens":"0.005"},"title":"FLUX.2 Klein 4B","description":"Fast image generation and editing up to 2.4 megapixels","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":10,"capabilities":[],"flat_rate":true,"added_date":1768608000000},{"name":"gptimage-large","aliases":["gpt-image-1.5","gpt-image-large"],"category":"image","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.000005","promptCachedTokens":"0.00000125","promptImageTokens":"0.000008","completionTextTokens":"0.00001","completionImageTokens":"0.000032"},"title":"GPT Image 1.5","description":"High-fidelity image generation and editing with fine detail","input_modalities":["text","image"],"output_modalities":["image"],"max_reference_images":16,"capabilities":[],"flat_rate":false,"added_date":1766448000000},{"name":"gptimage","aliases":["gpt-image","gpt-image-1-mini"],"category":"image","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.0000015","promptCachedTokens":"0.00000015","pro[...]
    - id: 2
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: ""
        headers:
            Deprecation:
                - "true"
            Link:
                - <https://gen.pollinations.ai>; rel="successor-version"
            Location:
                - https://gen.pollinations.ai/text/models
        status: 308 Permanent Redirect
        code: 308
        duration: 14ms
    - id: 3
      request:
        host: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://gen.pollinations.ai/text/models
        method: GET
      response:
        body: '[{"name":"openai","aliases":["gpt-5.4-nano"],"category":"text","brand":"OpenAI","pricing":{"currency":"pollen","promptTextTokens":"0.00000015","promptCachedTokens":"0.000000015","completionTextTokens":"0.0000009375"},"title":"GPT-5.4 Nano","description":"Fast, affordable all-rounder for everyday chat and image questions","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":10,"capabilities":["tool_calling"],"tools":true,"context_length":400000,"is_specialized":false,"added_date":1759795200000},{"name":"muse-glimmer","aliases":[],"category":"text","brand":"Meta","pricing":{"currency":"pollen","promptTextTokens":"0.00000035","promptCachedTokens":"0.00000004","completionTextTokens":"0.0000015"},"title":"Muse Glimmer 30B","description":"Compact multimodal agent for reasoning, tool use and failure recovery","input_modalities":["text","image"],"output_modalities":["text"],"max_reference_images":30,"capabilities":["tool_calling","reasoning"],"tools":true,"reasoning":true,"context_length":131072,"is_specialized":false,"paid_only":false,"added_date":1786665600000},{"name":"qwen3.8-2.4t-a95b","aliases":[],"category":"text","brand":"Qwen","pricing":{"currency":"pollen","promptTextTokens":"0.000002","promptCachedTokens":"0.00000025","completionTextTokens":"0.000006"},"title":"Qwen3.8 2.4T A95B","description":"Open-weight sparse frontier reasoning for long-horizon coding and autonomous agents","input_modalities":["text"],"output_modalities":["text"],"capabilities[...]
