---
version: 2
interactions:
    - id: 0
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/image/models
        method: GET
      response:
        body: '{"success":false,"error":{"message":"Invalid API key. Please check your key and try again.","code":"UNAUTHORIZED","timestamp":"2026-02-03T14:31:22.030Z"},"status":401}'
        headers:
            Content-Type:
                - application/json
            Speculation-Rules:
                - '"/cdn-cgi/speculation"'
        status: 401 Unauthorized
        code: 401
        duration: 274ms
    - id: 1
      request:
        host: enter.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://enter.pollinations.ai/api/generate/text/models
        method: GET
      response:
        body: '{"success":false,"error":{"message":"Invalid API key. Please check your key and try again.","code":"UNAUTHORIZED","timestamp":"2026-02-03T14:31:22.163Z"},"status":401}'
        headers:
            Content-Type:
                - application/json
            Speculation-Rules:
                - '"/cdn-cgi/speculation"'
        status: 401 Unauthorized
        code: 401
        duration: 135ms
