---
version: 2
interactions:
    - id: 0
      request:
        host: image.pollinations.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://image.pollinations.ai/models
        method: GET
      response:
        body: '["flux","turbo","gptimage"]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 397ms
    - id: 1
      request:
        host: text.pollinations.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/models
        method: GET
      response:
        body: '[{"name":"openai","description":"OpenAI GPT-4.1-mini","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"openai-fast","description":"OpenAI GPT-4.1-nano","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"aliases":"openai-small","tools":true,"vision":true,"audio":false},{"name":"openai-large","description":"OpenAI GPT-4.1","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"openai-roblox","description":"OpenAI GPT-4.1-mini for Roblox","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"qwen-coder","description":"Qwen 2.5 Coder 32B","provider":"Scaleway","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"llama","description":"Llama 3.3 70B","provider":"Cloudflare","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"llamascout","description":"Llama 4 Scout 17B","provider":"Cloudflare","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"mistral","description":"Mistral Small 3.1 24B","provider":"Cloudflare","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"unity","description":"Unity Unrestricted Agent (Mistral Small 3.1)","provider":"Scaleway","uncensored":true,"input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"mirexa","description":"Mirexa AI Companion (GPT-4.1)","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"midijourney","description":"Midijourney","provider":"Azure","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"rtist","description":"Rtist","provider":"Azure","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"searchgpt","description":"SearchGPT","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"evil","description":"Evil","provider":"Scaleway","uncensored":true,"input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"deepseek-reasoning","description":"DeepSeek R1 - MAI-DS-R1","reasoning":true,"provider":"Cloudflare","aliases":"deepseek-r1","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"phi","description":"Phi-4 Instruct","provider":"Azure","input_modalities":["text","image","audio"],"output_modalities":["text"],"tools":false,"vision":true,"audio":true},{"name":"hormoz","description":"Hormoz 8b","provider":"Modal","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"hypnosis-tracy","description":"Hypnosis Tracy 7B","provider":"Azure","input_modalities":["text","audio"],"output_modalities":["audio","text"],"tools":true,"vision":false,"audio":true},{"name":"deepseek","description":"DeepSeek-V3","provider":"DeepSeek","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"grok","description":"xAi Grok-3 Mini","provider":"Azure","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"sur","description":"Sur AI Assistant (Mistral)","provider":"Scaleway","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"bidara","description":"BIDARA - Biomimetic Designer and Research Assistant by NASA","provider":"Azure","input_modalities":["text","image"],"output_modalities":["text"],"vision":true,"audio":false},{"name":"openai-audio","description":"OpenAI GPT-4o-audio-preview","voices":["alloy","echo","fable","onyx","nova","shimmer","coral","verse","ballad","ash","sage","amuch","dan"],"provider":"Azure","input_modalities":["text","image","audio"],"output_modalities":["audio","text"],"tools":true,"vision":true,"audio":true}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1127-pp1Or99RbK6W+VNr2+q87X3C9G0"
        status: 200 OK
        code: 200
        duration: 418ms
