---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":[{"type":"text","text":"What is the word said? Reply with only the word."},{"type":"input_audio","input_audio":{"format":"mp3"}}]}],"model":"openai-audio","stream":false,"private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"400 Bad Request","status":400,"details":{"error":{"message":"azure-openai error: Missing required parameter: ''messages[0].content[1].input_audio.data''.","type":"invalid_request_error","param":"messages[0].content[1].input_audio.data","code":"missing_required_parameter"},"provider":"azure-openai"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"134-4uE9DCouEmLJYgee4onVev5RcSk"
        status: 400 Bad Request
        code: 400
        duration: 9.242s
