---
version: 2
interactions:
    - id: 0
      request:
        host: image.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://image.pollinations.ai/models
        method: GET
      response:
        body: '["flux","kontext","turbo","gptimage"]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 497ms
    - id: 1
      request:
        host: text.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/models
        method: GET
      response:
        body: '[{"name":"deepseek","description":"DeepSeek V3","maxInputChars":9000,"provider":"azure","tier":"flower","community":false,"aliases":"deepseek-v3","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"deepseek-reasoning","description":"DeepSeek R1 0528","maxInputChars":9000,"reasoning":true,"provider":"nebius","tier":"seed","community":false,"aliases":"deepseek-r1-0528","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"gemma-roblox","description":"Gemma 2 9B IT Fast (Nebius)","provider":"nebius","tier":"anonymous","community":false,"aliases":"gemma-2-9b-it-fast","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"grok","description":"xAI Grok-3 Mini","provider":[...]
[...]
