---
version: 2
interactions:
- id: 0
  request:
    host: api.cloudflare.com
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Is a banana a fruit? Do not include an explanation. Reply ONLY as JSON.\"}],\"response_format\":{\"type\":\"json_schema\",\"json_schema\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"properties\":{\"is_fruit\":{\"type\":\"boolean\"}},\"additionalProperties\":false,\"type\":\"object\",\"required\":[\"is_fruit\"]}}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/meta/llama-3.3-70b-instruct-fp8-fast
    method: POST
  response:
    body: "{\"result\":{\"response\":{\"is_fruit\":true}},\"success\":true,\"errors\":[],\"messages\":[]}"
    headers:
      Api-Version:
      - "2025-12-15"
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 1.119s
