---
version: 2
interactions:
    - id: 0
      request:
        host: api.bfl.ai
        body: |
            {"prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","width":256,"height":256,"safety_tolerance":0}
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.bfl.ai/v1/flux-dev
        method: POST
      response:
        body: '{"id":"ce8fe20c-547c-4475-8cf1-cc7adf74a779","polling_url":"https://api.us1.bfl.ai/v1/get_result?id=ce8fe20c-547c-4475-8cf1-cc7adf74a779"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 259ms
    - id: 1
      request:
        host: api.us1.bfl.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=ce8fe20c-547c-4475-8cf1-cc7adf74a779
        method: GET
      response:
        body: '{"id":"ce8fe20c-547c-4475-8cf1-cc7adf74a779","status":"Pending","result":null,"progress":0.2,"details":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1199"
            X-Ratelimit-Reset:
                - "1748957234.1498647"
        status: 200 OK
        code: 200
        duration: 257ms
[...]
    - id: 6
      request:
        host: api.us1.bfl.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=ce8fe20c-547c-4475-8cf1-cc7adf74a779
        method: GET
      response:
        body: '{"id":"ce8fe20c-547c-4475-8cf1-cc7adf74a779","status":"Ready","result":{"sample":"https://delivery-us1.bfl.ai/results/91/233988c3149e14/c3149e1447e54f558b11ec1530a4c9d5/sample.jpeg?se=2025-06-03T13%3A37%3A14Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=EZiTG85PPNRi7it0CvPW7bbC235cQxVBPpnooBJipCw%3D","prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there''s an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","seed":1452879202,"start_time":1748957231.4007654,"end_time":1748957234.5561488,"duration":3.155383348464966},"progress":null,"details":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "0"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1198"
            X-Ratelimit-Reset:
                - "1748957236.0845397"
        status: 200 OK
        code: 200
        duration: 88ms
