---
version: 2
interactions:
- id: 0
  request:
    host: api.cloudflare.com
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Tell a short joke.\"}]}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/bad%20model
    method: POST
  response:
    body: "{\"success\":false,\"errors\":[{\"code\":7000,\"message\":\"No route for that URI\"}],\"messages\":[],\"result\":null}"
    headers:
      Api-Version:
      - "2025-08-24"
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: 490ms
