---
version: 2
interactions:
    - id: 0
      request:
        host: api.xiaomimimo.com
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.xiaomimimo.com/v1/models
        method: GET
      response:
        body: |
            {
                "error": {
                    "message": "Invalid API Key",
                    "param": "Please provide valid API Key",
                    "code": "401",
                    "type": "invalid_key"
                }
            }
        headers:
            Content-Type:
                - application/json
            X-Mife-Upstream-Status:
                - "401"
        status: 401 Unauthorized
        code: 401
        duration: 267ms
