---
version: 2
interactions:
- id: 0
  request:
    host: api.cloudflare.com
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Tell a short joke.\"}],\"stream\":true}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@hf/nousresearch/hermes-2-pro-mistral-7b
    method: POST
  response:
    body: "{\"result\":null,\"success\":false,\"errors\":[{\"code\":10000,\"message\":\"Authentication error\"}],\"messages\":[]}"
    headers:
      Api-Version:
      - "2025-08-24"
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: 57ms
