---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"content":"Is a circle round? Reply as JSON.","role":"user"}],"max_tokens":50,"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{"round":{"type":"boolean"}},"additionalProperties":false,"type":"object","required":["round"]}},"seed":1,"temperature":0.01}
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@hf/nousresearch/hermes-2-pro-mistral-7b
        method: POST
      response:
        body: '{"result":{"response":{"round":true}},"success":true,"errors":[],"messages":[]}'
        headers:
            Api-Version:
                - "2025-05-02"
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 969ms
