---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"content":"Is a banana a fruit? Reply as JSON according to the provided schema.","role":"user"}],"max_tokens":200,"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{"is_fruit":{"type":"boolean","description":"True  if the answer is that it is a fruit, false otherwise"}},"additionalProperties":false,"type":"object","required":["is_fruit"]}},"seed":1,"temperature":0.01}
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@hf/nousresearch/hermes-2-pro-mistral-7b
        method: POST
      response:
        body: '{"result":{"response":{"is_fruit":true}},"success":true,"errors":[],"messages":[]}'
        headers:
            Api-Version:
                - "2025-05-13"
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.484s
