---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":"Explain the theory of relativity in great details."}],"max_tokens":16,"model":"deepseek-reasoning","stream":false,"private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"Model not found or tier not high enough. Your tier: anonymous, required tier: seed. To get a token or add a referrer, visit https://auth.pollinations.ai","status":402}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b1-LrVYRP6gUcNCcTJTW6vp2dExsUw"
        status: 402 Payment Required
        code: 402
        duration: 1.456s
