---
version: 2
interactions:
    - id: 0
      request:
        host: api.typesafe.ai
        body: |
            {"state":"test","model":"bad model","questions":{"a":{"type":"noul","instructions":"Is this a test?"}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.typesafe.ai/v1/systemone
        method: POST
      response:
        body: '{"detail":{"error_type":"api_usage_error","message":"Unknown model: bad model"}}'
        headers:
            Content-Type:
                - application/json
            X-Typesafe-Request-Id:
                - req_01a0b1137442734fa2be3ddd1806e138
        status: 400 Bad Request
        code: 400
        duration: 72ms
