---
version: 2
interactions:
    - id: 0
      request:
        host: api.typesafe.ai
        body: |
            {"state":"test","model":"jev-latest","questions":{"a":{"type":"noul","instructions":"Is this a test?"}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.typesafe.ai/v1/systemone
        method: POST
      response:
        body: '{"detail":{"error_type":"authentication_error","message":"Cannot authenticate with the server. Please check your API key and try again."}}'
        headers:
            Content-Type:
                - application/json
            X-Typesafe-Request-Id:
                - req_01a0b11373f87862a0e0ddf0fe7535ad
        status: 401 Unauthorized
        code: 401
        duration: 74ms
