---
version: 2
interactions:
    - id: 0
      request:
        host: api.typesafe.ai
        body: |
            {"state":null,"model":"","questions":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.typesafe.ai/v1/systemone
        method: POST
      response:
        body: '{"detail":[{"type":"dict_type","loc":["body","questions"],"msg":"Input should be a valid dictionary","input":null}]}'
        headers:
            Content-Type:
                - application/json
            X-Typesafe-Request-Id:
                - req_01a0b22414b27d9c91db5e49dabf6487
        status: 422 Unprocessable Entity
        code: 422
        duration: 231ms
