---
version: 2
interactions:
    - id: 0
      request:
        host: api.typesafe.ai
        body: |
            {"state":"test","model":"jev-latest","questions":{"a":{"type":"noul","instructions":""}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.typesafe.ai/v1/systemone
        method: POST
      response:
        body: '{"detail":"Noul question must have criteria or instructions: a"}'
        headers:
            Content-Type:
                - application/json
            X-Typesafe-Request-Id:
                - req_01a0b113748a7a0f9be880e4e9f83ae1
        status: 400 Bad Request
        code: 400
        duration: 70ms
