---
version: 2
interactions:
- id: 0
  request:
    host: text.pollinations.ai
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://text.pollinations.ai/models
    method: GET
  response:
    body: "[{\"name\":\"deepseek-reasoning\",\"original_name\":\"us.deepseek.r1-v1:0\",\"description\":\"DeepSeek R1 0528 (Bedrock)\",\"maxInputChars\":10000,\"reasoning\":true,\"provider\":\"bedrock\",\"tier\":\"seed\",\"community\":false,\"aliases\":\"deepseek-r1-0528\",\"input_modalities\":[\"text\"],\"output_modalities\":[\"text\"],\"tools\":false,\"vision\":false,\"audio\":false},{\"name\":\"gemini\",\"original_name\":\"google/gemini-2.5-flash-lite\",\"description\":\"Gemini 2.5 Flash Lite (api.navy)\",\"provider\":\"api.navy\",\"tier\":\"anonymous\",\"community\":false,\"aliases\":\"gemini-2.5-flash-lite\",\"input_modalities\":[\"text\"],\"output_modalities\":[\"text\"],\"tools\":true,\"vision\":false,\"audio\":false},{\"name\":\"gpt-5-nano\",\"description\":\"OpenAI GPT-5 Nano\",\"original_name\":\"gpt-5-nano-2025-08-07\",\"provider\":\"azure\",\"tier\":\"anonym[...]
- id: 1
  request:
    host: image.pollinations.ai
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://image.pollinations.ai/models
    method: GET
  response:
    body: "[\"flux\",\"kontext\",\"turbo\"]"
    headers:
      Content-Type:
      - application/json
      Speculation-Rules:
      - "\"/cdn-cgi/speculation\""
    status: 200 OK
    code: 200
    duration: 286ms
