---
version: 2
interactions:
- id: 0
  request:
    host: api.cloudflare.com
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Is a banana a fruit? Do not include an explanation. Reply ONLY as JSON.\"}],\"response_format\":{\"type\":\"json_schema\",\"json_schema\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"properties\":{\"is_fruit\":{\"type\":\"boolean\"}},\"additionalProperties\":false,\"type\":\"object\",\"required\":[\"is_fruit\"]}}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/meta/llama-3.2-1b-instruct
    method: POST
  response:
    body: "{\"errors\":[{\"message\":\"AiError: Ai: This model doesn't suuport JSON Schema. (3fbd29f6-f17f-447c-8e5f-0f789bea5c4c)\",\"code\":5025}],\"success\":false,\"result\":{},\"messages\":[]}"
    headers:
      Api-Version:
      - "2025-12-18"
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: 102ms
