---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"role":"user","content":"Name two fruits with their color. Do not include an explanation. Reply ONLY as JSON."}],"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","items":{"properties":{"name":{"type":"string"},"color":{"type":"string"}},"additionalProperties":false,"type":"object","required":["name","color"]},"type":"array"}},"stream":true}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/meta/llama-3.2-1b-instruct
        method: POST
      response:
        body: '{"errors":[{"message":"AiError: Ai: JSON Schema mode is not supported with stream mode. (d7338e7d-f051-4534-b05b-f3c3b27c2b79)","code":5023}],"success":false,"result":{},"messages":[]}'
        headers:
            Api-Version:
                - 2026-09-25.epoch
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 179ms
