---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":[{"type":"text","text":"What is the word said? Reply with only the word."},{"type":"input_audio","input_audio":{"format":"mp3"}}]}],"model":"llamascout","stream":false,"private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"400 Bad Request","status":400,"details":{"errors":[{"code":"invalid_union","unionErrors":[{"issues":[{"code":"invalid_type","expected":"string","received":"array","path":["body","messages",0,"content"],"message":"Expected string, received array"}],"name":"ZodError"},{"issues":[{"code":"invalid_union","unionErrors":[{"issues":[{"received":"input_audio","code":"invalid_literal","expected":"text","path":["body","messages",0,"content",1,"type"],"message":"Invalid literal value, expected \"text\""}],"name":"ZodError"},{"issues":[{"received":"input_audio","code":"invalid_literal","expected":"image_url","path":["body","messages",0,"content",1,"type"],"message":"Invalid literal value, expected \"image_url\""},{"code":"invalid_type","expected":"object","received":"undefined","path":["body","messages",0,"content",1,"image_url"],"message":"Required"}],"name":"ZodError"}],"path":["body","messages",0,"content",1],"message":"Invalid input"}],"name":"ZodError"}],"path":["body","messages",0,"content"],"message":"Invalid input"}],"success":false,"result":{}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"42c-fG3tJUGX4baLV1SOOTcuTppP/yk"
        status: 400 Bad Request
        code: 400
        duration: 2.693s
