---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"role":"user","content":"Is a banana a fruit? Do not include an explanation. Reply ONLY as JSON."}],"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{"is_fruit":{"type":"boolean"}},"additionalProperties":false,"type":"object","required":["is_fruit"]}},"stream":true}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/meta/llama-3.2-3b-instruct
        method: POST
      response:
        body: '{"errors":[{"message":"AiError: Ai: JSON Schema mode is not supported with stream mode. (0b6232f4-1c5d-4ab2-b737-f7e989f7723f)","code":5023}],"success":false,"result":{},"messages":[]}'
        headers:
            Api-Version:
                - "2025-07-25"
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 1.114s
