---
version: 2
interactions:
    - id: 0
      request:
        host: api.bfl.ai
        body: |
            {"prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","width":256,"height":256,"seed":42,"safety_tolerance":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.bfl.ai/v1/flux-2-pro
        method: POST
      response:
        body: '{"id":"4c057b10-7efa-4c69-9ec8-cbbdfd56d918","polling_url":"https://api.eu2.bfl.ai/v1/get_result?id=4c057b10-7efa-4c69-9ec8-cbbdfd56d918","cost":3.0,"input_mp":0.0,"output_mp":0.06}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 467ms
    - id: 1
      request:
        host: api.eu2.bfl.ai
        form:
            id:
                - 4c057b10-7efa-4c69-9ec8-cbbdfd56d918
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.eu2.bfl.ai/v1/get_result?id=4c057b10-7efa-4c69-9ec8-cbbdfd56d918
        method: GET
      response:
        body: '{"id":"4c057b10-7efa-4c69-9ec8-cbbdfd56d918","status":"Pending","result":null,"progress":null,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1199"
            X-Ratelimit-Reset:
                - "1766006934.5731359"
        status: 200 OK
        code: 200
        duration: 371ms
[...]
    - id: 74
      request:
        host: api.eu2.bfl.ai
        form:
            id:
                - 4c057b10-7efa-4c69-9ec8-cbbdfd56d918
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.eu2.bfl.ai/v1/get_result?id=4c057b10-7efa-4c69-9ec8-cbbdfd56d918
        method: GET
      response:
        body: '{"id":"4c057b10-7efa-4c69-9ec8-cbbdfd56d918","status":"Ready","result":{"start_time":1766006932.122257,"prompt":"Simple, vibrant, hand-drawn doodle animation style, square 1:1 format, featuring a cartoonish shiba inu centered on a perfectly plain, solid white background. The shiba inu has warm brown fur, a soft white belly, white muzzle and chest, big expressive eyes, and small triangular ears. It is sitting in the middle of the frame, body fully visible with no cropping, holding a pink ice-cream cone in its front paws and happily eating it, mouth open in a joyful nibble. The ice-cream scoop is a bright pastel pink with a light tan cone, and small motion lines around the mouth and ice-cream suggest subtle repeated bites. The shiba’s curled tail, colored brown with a white tip, has a gentle, subtle wag shown through small curved motion lines, while the rest of the body remains still and stable. Use smooth, clean, doodle-like outlines and varied vibrant colors only on the shiba and the ice-cream, with no other background elements, no additional objects, and absolutely no black or colored background areas, no letterboxing or borders, just the colorful doodle clearly visible against a pure white background.","seed":42,"sample":"https://bfldeliveryprodeu4.blob.core.windows.net/results/2025/12/17/8da7da40786d48298478f765ea78c0dd_sample.jpeg?se=2025-12-17T21%3A39%3A00Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=FBshXdmGEvn5/crLMMt/6ATqE2E%2BYFcpt/C5Cvj3oS0%3D"},"progress":null,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1197"
            X-Ratelimit-Reset:
                - "1766006943.1446583"
        status: 200 OK
        code: 200
        duration: 114ms
    - id: 75
      request:
        host: bfldeliveryprodeu4.blob.core.windows.net
        form:
            rsct:
                - image/jpeg
            se:
                - "2025-12-17T21:39:00Z"
            sig:
                - FBshXdmGEvn5/crLMMt/6ATqE2E+YFcpt/C5Cvj3oS0=
            sp:
                - r
            sr:
                - b
            sv:
                - "2024-11-04"
        url: https://bfldeliveryprodeu4.blob.core.windows.net/results/2025/12/17/8da7da40786d48298478f765ea78c0dd_sample.jpeg?se=2025-12-17T21%3A39%3A00Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=FBshXdmGEvn5/crLMMt/6ATqE2E%2BYFcpt/C5Cvj3oS0%3D
        method: GET
      response:
        body: "ÿØÿà\0\x10JFIF\0\x01\x01\0\0\x01\0\x01\0\0ÿëZBJP\x02\x11\0\0\0\x01\0\0Z8jumb\0\0\0\x1Ejumdc2pa\0\x11\0\x10\x80\0\0ª\08\x9Bq\x03c2pa\0\0\0Z\x12jumb\0\0\0Gjumdc2ma\0\x11\0\[...]
