---
version: 2
interactions:
- id: 0
  request:
    host: text.pollinations.ai
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Use the square_root tool to calculate the square root of 132413 and reply with only the result. Do not give an explanation.\"}],\"model\":\"gemini\",\"stream\":false,\"tools\":[{\"type\":\"function\",\"function\":{\"name\":\"square_root\",\"description\":\"Calculates and return the square root of a number\",\"parameters\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"properties\":{\"number\":{\"type\":\"number\"}},\"additionalProperties\":false,\"type\":\"object\",\"required\":[\"number\"]}}}],\"tool_choice\":\"required\",\"private\":true,\"stream_options\":{\"include_usage\":true}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://text.pollinations.ai/openai
    method: POST
  response:
    body: "{\"error\":\"400 Bad Request\",\"status\":400,\"details\":{\"error\":{\"message\":\"openai error: Invalid JSON payload received. Unknown name \\\"$schema\\\" at 'tools[0].function_declarations[0].parameters': Cannot find field.\\nInvalid JSON payload received. Unknown name \\\"additionalProperties\\\" at 'tools[0].function_declarations[0].parameters': Cannot find field.\",\"type\":null,\"param\":null,\"code\":400},\"provider\":\"openai\"}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19a-1pHWVi8OeaXJexx0CCaJrIYgCpE"
    status: 400 Bad Request
    code: 400
    duration: 3.259s
