---
version: 2
interactions:
- id: 0
  request:
    host: text.pollinations.ai
    body: "{\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"What is the word? Reply with only the word.\"},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://raw.githubusercontent.com/maruel/genai/refs/heads/main/scoreboard/testdata/document.pdf\"}}]}],\"model\":\"gemini\",\"stream\":true,\"private\":true,\"stream_options\":{\"include_usage\":true}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://text.pollinations.ai/openai
    method: POST
  response:
    body: "{\"error\":\"400 Bad Request\",\"status\":500}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28-9/8bFbqIwzpTMzyZa5JM05hgRcE"
    status: 500 Internal Server Error
    code: 500
    duration: 2.615s
