---
version: 2
interactions:
- id: 0
  request:
    host: text.pollinations.ai
    body: "{\"messages\":[{\"role\":\"user\",\"content\":\"Use the square_root tool to calculate the square root of 132413 and reply with only the result. Do not give an explanation.\"}],\"model\":\"gemini\",\"stream\":true,\"tools\":[{\"type\":\"function\",\"function\":{\"name\":\"square_root\",\"description\":\"Calculates and return the square root of a number\",\"parameters\":{\"$schema\":\"https://json-schema.org/draft/2020-12/schema\",\"properties\":{\"number\":{\"type\":\"number\"}},\"additionalProperties\":false,\"type\":\"object\",\"required\":[\"number\"]}}}],\"tool_choice\":\"required\",\"private\":true,\"stream_options\":{\"include_usage\":true}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://text.pollinations.ai/openai
    method: POST
  response:
    body: "{\"error\":\"400 Bad Request\",\"status\":500}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28-9/8bFbqIwzpTMzyZa5JM05hgRcE"
    status: 500 Internal Server Error
    code: 500
    duration: 5.611s
