---
version: 2
interactions:
- id: 0
  request:
    host: text.pollinations.ai
    body: "{\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"What fruit is it? Reply with only one word.\"},{\"type\":\"image_url\",\"image_url\":{\"url\":\"https://raw.githubusercontent.com/maruel/genai/refs/heads/main/scoreboard/testdata/image.jpg\"}}]}],\"model\":\"gemini\",\"stream\":false,\"private\":true,\"stream_options\":{\"include_usage\":true}}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://text.pollinations.ai/openai
    method: POST
  response:
    body: "{\"error\":\"400 Bad Request\",\"status\":400,\"details\":{\"error\":{\"message\":\"openai error: Unable to process input image. Please retry or report in https://developers.generativeai.google/guide/troubleshooting\",\"type\":null,\"param\":null,\"code\":400},\"provider\":\"openai\"}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"106-iqyfrndgb5TDKVqc2TPz2X2i9Mo"
    status: 400 Bad Request
    code: 400
    duration: 3.865s
