---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        form:
            hide_experimental:
                - "false"
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/models/search?page=1&per_page=100&hide_experimental=false
        method: GET
      response:
        body: |
            {"success":false,"errors":[{"code":10001,"message":"Unable to authenticate request"}]}
        headers:
            Api-Version:
                - "2025-07-16"
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 151ms
