---
version: 2
interactions:
- id: 0
  request:
    host: api.bfl.ai
    body: "{\"prompt\":\"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\\n\\n*Mandatory Requirements (Compacted):**\\n\\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\\n**Format:** Square image (1:1 aspect ratio).\\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.\",\"width\":256,\"height\":256,\"seed\":42,\"safety_tolerance\":0}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bfl.ai/v1/flux-2-max
    method: POST
  response:
    body: "{\"id\":\"a2814211-296c-4353-87b7-97e9b0bb9c1f\",\"polling_url\":\"https://api.eu4.bfl.ai/v1/get_result?id=a2814211-296c-4353-87b7-97e9b0bb9c1f\",\"cost\":7.000000000000001,\"input_mp\":0.0,\"output_mp\":0.06}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 511ms
- id: 1
  request:
    host: api.eu4.bfl.ai
    form:
      id:
      - a2814211-296c-4353-87b7-97e9b0bb9c1f
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.eu4.bfl.ai/v1/get_result?id=a2814211-296c-4353-87b7-97e9b0bb9c1f
    method: GET
  response:
    body: "{\"id\":\"a2814211-296c-4353-87b7-97e9b0bb9c1f\",\"status\":\"Pending\",\"result\":null,\"progress\":null,\"details\":null,\"preview\":null}"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "1"
      X-Ratelimit-Limit:
      - "1200"
      X-Ratelimit-Remaining:
      - "1199"
      X-Ratelimit-Reset:
      - "1766006912.6701646"
    status: 200 OK
    code: 200
    duration: 366ms
[...]
- id: 173
  request:
    host: api.eu4.bfl.ai
    form:
      id:
      - a2814211-296c-4353-87b7-97e9b0bb9c1f
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.eu4.bfl.ai/v1/get_result?id=a2814211-296c-4353-87b7-97e9b0bb9c1f
    method: GET
  response:
    body: "{\"id\":\"a2814211-296c-4353-87b7-97e9b0bb9c1f\",\"status\":\"Ready\",\"result\":{\"start_time\":1766006910.213345,\"prompt\":\"Simple, vibrant, varied-colored doodle-style, hand-drawn sketch animation, square 1:1 aspect ratio, on a perfectly plain solid white background with no other background elements and absolutely no black areas, featuring a single cartoonish Shiba Inu centered in frame, full body visible with smooth rounded lines, light brown fur, white belly, white muzzle, and white-tipped paws, large expressive eyes, small triangular ears, and a friendly, happy expression. The Shiba Inu is sitting slightly angled toward the viewer, holding and happily eating a pink ice-cream cone with one paw, the ice cream a bright bubblegum pink with a simple waffle cone in light tan. Show subtle, smooth looping motion: the dog’s tail gently wagging side to side in a small arc and a tiny nibbling motion at the ice cream (slight movement of mouth and ice-cream tip), while absolutely everything else in the image remains still and unchanged between frames. Use clean, colorful lines and flat fills with no shading or gradients, ensuring the doodle is fully visible and well-centered against the white background, with no cropping, no borders, and no letterboxing of any kind.\",\"seed\":42,\"sample\":\"https://bfldeliveryprodeu4.blob.core.windows.net/results/2025/12/17/9437f8d2396a4a718afbd6bbc85f722d_sample.jpeg?se=2025-12-17T21%3A38%3A50Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=3ORB7d1V/BfQFtLfHQE%2BLJjFl6UVuTD/AGdXq9/ZRuc%3D\"},\"progress\":null,\"details\":null,\"preview\":null}"
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "1"
      X-Ratelimit-Limit:
      - "1200"
      X-Ratelimit-Remaining:
      - "1196"
      X-Ratelimit-Reset:
      - "1766006933.086077"
    status: 200 OK
    code: 200
    duration: 126ms
- id: 174
  request:
    host: bfldeliveryprodeu4.blob.core.windows.net
    form:
      rsct:
      - image/jpeg
      se:
      - "2025-12-17T21:38:50Z"
      sig:
      - 3ORB7d1V/BfQFtLfHQE+LJjFl6UVuTD/AGdXq9/ZRuc=
      sp:
      - r
      sr:
      - b
      sv:
      - "2024-11-04"
    url: https://bfldeliveryprodeu4.blob.core.windows.net/results/2025/12/17/9437f8d2396a4a718afbd6bbc85f722d_sample.jpeg?se=2025-12-17T21%3A38%3A50Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=3ORB7d1V/BfQFtLfHQE%2BLJjFl6UVuTD/AGdXq9/ZRuc%3D
    method: GET
  response:
    body: "\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01\x00\x01\x00\x00\xff\xebX\xbfJP\x02\x11\x00\x00\x00\x01\x00\x00X\xb5jumb\x00\x00\x00\x1ejumdc2pa\x00\x11\x00\x10\x80\x00\x00\xaa\x008\x9bq\x03c2[...]
