---
version: 2
interactions:
    - id: 0
      request:
        host: api.xiaomimimo.com
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.xiaomimimo.com/v1/models
        method: GET
      response:
        body: '{"object":"list","data":[{"id":"mimo-v2-flash","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2-omni","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2-pro","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2-tts","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2.5","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2.5-pro","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2.5-tts","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2.5-tts-voiceclone","object":"model","owned_by":"xiaomi"},{"id":"mimo-v2.5-tts-voicedesign","object":"model","owned_by":"xiaomi"}]}'
        headers:
            Content-Type:
                - application/json
            X-Mife-Upstream-Status:
                - "200"
        status: 200 OK
        code: 200
        duration: 795ms
