---
version: 2
interactions:
    - id: 0
      request:
        host: api.bfl.ai
        body: |
            {"prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","width":256,"height":256,"seed":42,"safety_tolerance":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.bfl.ai/v1/flux-dev
        method: POST
      response:
        body: '{"id":"4ca5b657-4b04-4afc-9c4b-7445c578d324","polling_url":"https://api.eu4.bfl.ai/v1/get_result?id=4ca5b657-4b04-4afc-9c4b-7445c578d324","cost":null,"input_mp":null,"output_mp":null}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 612ms
    - id: 1
      request:
        host: api.eu4.bfl.ai
        form:
            id:
                - 4ca5b657-4b04-4afc-9c4b-7445c578d324
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.eu4.bfl.ai/v1/get_result?id=4ca5b657-4b04-4afc-9c4b-7445c578d324
        method: GET
      response:
        body: '{"id":"4ca5b657-4b04-4afc-9c4b-7445c578d324","status":"Pending","result":null,"progress":0.1,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1199"
            X-Ratelimit-Reset:
                - "1766072347.6372"
        status: 200 OK
        code: 200
        duration: 364ms
[...]
    - id: 20
      request:
        host: api.eu4.bfl.ai
        form:
            id:
                - 4ca5b657-4b04-4afc-9c4b-7445c578d324
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.eu4.bfl.ai/v1/get_result?id=4ca5b657-4b04-4afc-9c4b-7445c578d324
        method: GET
      response:
        body: '{"id":"4ca5b657-4b04-4afc-9c4b-7445c578d324","status":"Ready","result":{"sample":"https://bfldeliveryprodeu4.blob.core.windows.net/results/8e/3470338ce49379/8ce49379183c4d1eaf3900e161a9839e/sample.jpeg?se=2025-12-18T15%3A49%3A07Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=TCGRVM3fn0TzwZwvuRPy5uRe2ySXpdoQgJJebQcaINw%3D","prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there''s an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","seed":42,"start_time":1766072345.188173,"end_time":1766072347.676069,"duration":2.487895965576172},"progress":null,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1198"
            X-Ratelimit-Reset:
                - "1766072349.8474722"
        status: 200 OK
        code: 200
        duration: 115ms
    - id: 21
      request:
        host: bfldeliveryprodeu4.blob.core.windows.net
        form:
            rsct:
                - image/jpeg
            se:
                - "2025-12-18T15:49:07Z"
            sig:
                - TCGRVM3fn0TzwZwvuRPy5uRe2ySXpdoQgJJebQcaINw=
            sp:
                - r
            sr:
                - b
            sv:
                - "2024-11-04"
        url: https://bfldeliveryprodeu4.blob.core.windows.net/results/8e/3470338ce49379/8ce49379183c4d1eaf3900e161a9839e/sample.jpeg?se=2025-12-18T15%3A49%3A07Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=TCGRVM3fn0TzwZwvuRPy5uRe2ySXpdoQgJJebQcaINw%3D
        method: GET
      response:
        body: "ÿØÿà\0\x10JFIF\0\x01\x01\0\0\x01\0\x01\0\0ÿë^bJP\x02\x11\0\0\0\x01\0\0^Xjumb\0\0\0\x1Ejumdc2pa\0\x11\0\x10\x80\0\0ª\08\x9Bq\x03c2pa\0\0\0^2jumb\0\0\0Gjumdc2ma\0\x11\[...]
