---
version: 2
interactions:
    - id: 0
      request:
        host: api.bfl.ai
        body: |
            {"prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","width":256,"height":256,"safety_tolerance":0}
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.bfl.ai/v1/flux-dev
        method: POST
      response:
        body: '{"id":"378156bf-1aa0-4419-afde-e5f1b98ac7a9","polling_url":"https://api.us1.bfl.ai/v1/get_result?id=378156bf-1aa0-4419-afde-e5f1b98ac7a9"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1.357s
    - id: 1
      request:
        host: api.us1.bfl.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=378156bf-1aa0-4419-afde-e5f1b98ac7a9
        method: GET
      response:
        body: '{"id":"378156bf-1aa0-4419-afde-e5f1b98ac7a9","status":"Pending","result":null,"progress":null,"details":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1199"
            X-Ratelimit-Reset:
                - "1749225565.6270657"
        status: 200 OK
        code: 200
        duration: 272ms
[...]
    - id: 14
      request:
        host: api.us1.bfl.ai
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=378156bf-1aa0-4419-afde-e5f1b98ac7a9
        method: GET
      response:
        body: '{"id":"378156bf-1aa0-4419-afde-e5f1b98ac7a9","status":"Ready","result":{"sample":"https://delivery-us1.bfl.ai/results/70/5650636efb5300/6efb5300f7914972ab6ceee91415e3e6/sample.jpeg?se=2025-06-06T16%3A09%3A25Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=4uujt1dmFbkm97Csu0RDrFhNpN45dd6iAgO9MPOC/xc%3D","prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there''s an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","seed":3088786909,"start_time":1749225562.984905,"end_time":1749225565.4691687,"duration":2.4842636585235596},"progress":null,"details":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "0"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1200"
            X-Ratelimit-Reset:
                - "1749225566.6732652"
        status: 200 OK
        code: 200
        duration: 599ms
