---
version: 2
interactions:
    - id: 0
      request:
        host: api.bfl.ai
        body: |
            {"prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there's an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","width":256,"height":256,"safety_tolerance":0}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.bfl.ai/v1/flux-dev
        method: POST
      response:
        body: '{"id":"c51937a6-922f-4347-bdc7-f86c9475f7be","polling_url":"https://api.us1.bfl.ai/v1/get_result?id=c51937a6-922f-4347-bdc7-f86c9475f7be"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 997ms
    - id: 1
      request:
        host: api.us1.bfl.ai
        form:
            id:
                - c51937a6-922f-4347-bdc7-f86c9475f7be
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=c51937a6-922f-4347-bdc7-f86c9475f7be
        method: GET
      response:
        body: '{"id":"c51937a6-922f-4347-bdc7-f86c9475f7be","status":"Pending","result":null,"progress":null,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "1"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1199"
            X-Ratelimit-Reset:
                - "1752679009.753169"
        status: 200 OK
        code: 200
        duration: 314ms
[...]
    - id: 12
      request:
        host: api.us1.bfl.ai
        form:
            id:
                - c51937a6-922f-4347-bdc7-f86c9475f7be
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.us1.bfl.ai/v1/get_result?id=c51937a6-922f-4347-bdc7-f86c9475f7be
        method: GET
      response:
        body: '{"id":"c51937a6-922f-4347-bdc7-f86c9475f7be","status":"Ready","result":{"sample":"https://delivery-us1.bfl.ai/results/44/009285342eb9e7/342eb9e7e3ca48508064e6a38447c1d7/sample.jpeg?se=2025-07-16T15%3A26%3A49Z&sp=r&sv=2024-11-04&sr=b&rsct=image/jpeg&sig=xO3i3SfasGsFATekAiAvfGBt%2Bln3jbwDdlkWIEWzxHI%3D","prompt":"Generate one square, white-background doodle with smooth, vibrantly colored image depicting A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves..\n\n*Mandatory Requirements (Compacted):**\n\n**Style:** Simple, vibrant, varied-colored doodle/hand-drawn sketch.\n**Background:** Plain solid white (no background colors/elements). Absolutely no black background.\n**Content & Motion:** Clearly depict **A doodle animation on a white background of Cartoonish shiba inu with brown fur and a white belly, happily eating a pink ice-cream cone, subtle tail wag. Subtle motion but nothing else moves.** action with colored, moving subject (no static images). If there''s an action specified, it should be the main difference between frames.\n**Format:** Square image (1:1 aspect ratio).\n**Cropping:** Absolutely no black bars/letterboxing; colorful doodle fully visible against white.\n**Output:** Actual image file for a smooth, colorful doodle-style image on a white background.","seed":2393298254,"start_time":1752679007.0877652,"end_time":1752679009.5928996,"duration":2.505134344100952},"progress":null,"details":null,"preview":null}'
        headers:
            Content-Type:
                - application/json
            Retry-After:
                - "0"
            X-Ratelimit-Limit:
                - "1200"
            X-Ratelimit-Remaining:
                - "1194"
            X-Ratelimit-Reset:
                - "1752679010.6414673"
        status: 200 OK
        code: 200
        duration: 116ms
