---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":"Explain the theory of relativity in great details."}],"max_tokens":16,"model":"llama-scout","stream":true,"private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"Model not found: llama-scout","status":404}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"35-wJqV5FWQWK3nZLOC/UemKuYy2nU"
        status: 404 Not Found
        code: 404
        duration: 1.532s
