---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":"I wonder if Canada is a better country than the USA? Call the tool best_country to tell me which country is the best one."}],"model":"deepseek-reasoning","stream":false,"tools":[{"type":"function","function":{"name":"best_country","description":"A tool to determine the best country","parameters":{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{"country":{"type":"string","enum":["Canada","USA"]}},"additionalProperties":false,"type":"object","required":["country"]}}}],"tool_choice":"required","private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"400 Bad Request","status":400,"details":{"error":{"message":"azure-openai error: tool_choice value as required is enabled only for api versions 2024-06-01 and later","type":null,"param":null,"code":"BadRequest"},"provider":"azure-openai"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f9-7iQVdLEwNIYxD9isBpEAmTJ+L6w"
        status: 400 Bad Request
        code: 400
        duration: 9.632s
