---
version: 2
interactions:
- id: 0
  request:
    host: api.bfl.ai
    body: "{\"prompt\":\"test\",\"safety_tolerance\":0}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    url: https://api.bfl.ai/v1/flux-dev
    method: POST
  response:
    body: "{\"id\":\"ea688cc7-2959-4c32-acdf-e66194a95c2c\",\"polling_url\":\"https://api.eu2.bfl.ai/v1/get_result?id=ea688cc7-2959-4c32-acdf-e66194a95c2c\",\"cost\":null,\"input_mp\":null,\"output_mp\":null}"
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 560ms
