---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"role":"user","content":"Name two fruits with their color. Do not include an explanation. Reply ONLY as JSON."}],"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","items":{"properties":{"name":{"type":"string"},"color":{"type":"string"}},"additionalProperties":false,"type":"object","required":["name","color"]},"type":"array"}}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/deepseek-ai/deepseek-r1-distill-qwen-32b
        method: POST
      response:
        body: '{"result":{"response":[{"name":"apple","color":"red"},{"name":"banana","color":"yellow"}]},"success":true,"errors":[],"messages":[]}'
        headers:
            Api-Version:
                - 2026-09-25.epoch
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 18.211s
