---
version: 2
interactions:
    - id: 0
      request:
        host: text.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/models
        method: GET
      response:
        body: '[{"name":"deepseek-reasoning","description":"DeepSeek R1 0528 (Vertex AI)","maxInputChars":10000,"reasoning":true,"provider":"vertex-ai","tier":"seed","community":false,"aliases":"deepseek-r1-0528","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"gemini","description":"Gemini 2.5 Flash Lite","provider":"vertex-ai","tier":"anonymous","community":false,"aliases":"gemini-2.5-flash-lite","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,"audio":false},{"name":"geminisearch","description":"Gemini 2.5 Flash Lite Search","provider":"vertex-ai","tier":"seed","community":false,"aliases":"searchgpt","input_modalities":["text","image"],"output_modalities":["text"],"tools":true,"vision":true,[...]
    - id: 1
      request:
        host: image.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://image.pollinations.ai/models
        method: GET
      response:
        body: '["flux","kontext","turbo"]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 568ms
[...]
