---
version: 2
interactions:
    - id: 0
      request:
        host: api.cloudflare.com
        body: |
            {"messages":[{"role":"user","content":"Is a banana a fruit? Reply as JSON according to the provided schema."}],"response_format":{"type":"json_schema","json_schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{"is_fruit":{"type":"boolean","description":"True if the answer is that it is a fruit, false otherwise"}},"additionalProperties":false,"type":"object","required":["is_fruit"]}}}
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://api.cloudflare.com/client/v4/accounts/ACCOUNT_ID/ai/run/@cf/meta/llama-3.2-3b-instruct
        method: POST
      response:
        body: '{"errors":[{"message":"AiError: Ai: This model doesn''t suuport JSON Schema. (b34a9068-2ab7-475c-bc94-1006a1583162)","code":5025}],"success":false,"result":{},"messages":[]}'
        headers:
            Api-Version:
                - "2025-05-29"
            Content-Type:
                - application/json
        status: 403 Forbidden
        code: 403
        duration: 243ms
