---
version: 2
interactions:
    - id: 0
      request:
        host: image.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://image.pollinations.ai/models
        method: GET
      response:
        body: '["flux","kontext","turbo","gptimage"]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 121ms
    - id: 1
      request:
        host: text.pollinations.ai
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/models
        method: GET
      response:
        body: '[{"name":"deepseek","description":"DeepSeek V3","maxInputChars":9000,"provider":"azure","tier":"flower","community":false,"aliases":"deepseek-v3","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"deepseek-reasoning","description":"DeepSeek R1 0528","maxInputChars":9000,"reasoning":true,"provider":"nebius","tier":"seed","community":false,"aliases":"deepseek-r1-0528","input_modalities":["text"],"output_modalities":["text"],"tools":false,"vision":false,"audio":false},{"name":"gemma-roblox","description":"Gemma 2 9B IT Fast (Nebius)","provider":"nebius","tier":"anonymous","community":false,"aliases":"gemma-2-9b-it-fast","input_modalities":["text"],"output_modalities":["text"],"tools":true,"vision":false,"audio":false},{"name":"grok","description":"xAI Grok-3 Mini","provider":[...]
    - id: 2
      request:
        host: text.pollinations.ai
        body: |
            {"messages":[{"role":"user","content":[{"type":"text","text":"What is the word said? Reply with only the word."},{"type":"image_url","image_url":{"url":"https://raw.githubusercontent.com/maruel/genai/refs/heads/main/scoreboard/testdata/video.mp4"}}]}],"model":"openai","stream":false,"private":true,"stream_options":{"include_usage":true}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://text.pollinations.ai/openai
        method: POST
      response:
        body: '{"error":"400 Bad Request","status":400,"details":{"error":{"message":"azure-openai error: Invalid image data.","type":null,"param":null,"code":"BadRequest"},"provider":"azure-openai"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b9-J/c0TUKWYiEXCT+L04vZTwCSlp8"
        status: 400 Bad Request
        code: 400
        duration: 353ms
